bundler/.bundle/cache/**/*
vscode
vim/.vim
vim/.config/nvim/plugged
vim/.config/nvim/.netrwhist
vim/.config/nvim/plugged
local_data
newsboat/*
.DS_Store
emacs
*/**/.uuid
mpd/.mpd/*
music/Music/Library/*
music/Music/Unsorted/*
music/Music/Ripped/*

fish/.config/fish/conf.d
fish/.config/fish/functions/_*
