Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt
URxvt.perl-ext-common: default,matcher
URxvt.scrollBar: false
URxvt.font: xft:Noto Sans Mono:pixelsize=16
URxvt.boldFont: xft:Noto Sans Mono:pixelsize=16
URxvt.cursorUnderline: true
URxvt.internalBorder: 10
URxvt.letterSpace: -1
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/c800

! Rofi
rofi.color-enabled:     true
rofi.color-window:      argb:dc111111, argb:dc111111
rofi.color-normal:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-urgent:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-active:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.combi-modi: window,drun,run
rofi.font: Noto Sans 18
rofi.opacity: 80
rofi.fullscreen: false
rofi.width: 800
rofi.padding: 10
rofi.lines: 10

! Clickable URLs
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

! Use Control-Shift-V/C for X clipboard
URxvt.iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
